## Initialization Phase + Data Info

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
pd.set_option('display.max_rows', 500)
sns.set_style('whitegrid')

In [2]:
df = pd.read_csv('malaysia_produce.csv')

In [3]:
df

,Iso3,StartDate,EndDate,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Months Code,Months,Value
0,MYS,01/01/1991,31/12/1991,131,Malaysia,226,Areca nuts,5539,Producer Price Index (2014-2016 = 100),1991,1991,7021,Annual value,43
1,MYS,01/01/1992,31/12/1992,131,Malaysia,226,Areca nuts,5539,Producer Price Index (2014-2016 = 100),1992,1992,7021,Annual value,43
2,MYS,01/01/1993,31/12/1993,131,Malaysia,226,Areca nuts,5539,Producer Price Index (2014-2016 = 100),1993,1993,7021,Annual value,44
3,MYS,01/01/1994,31/12/1994,131,Malaysia,226,Areca nuts,5539,Producer Price Index (2014-2016 = 100),1994,1994,7021,Annual value,45
4,MYS,01/01/1995,31/12/1995,131,Malaysia,226,Areca nuts,5539,Producer Price Index (2014-2016 = 100),1995,1995,7021,Annual value,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9923,MYS,01/01/2015,31/12/2015,131,Malaysia,1800,"Vegetables&Melons, Total",5539,Producer Price Index (2014-2016 = 100),2015,2015,7021,Annual value,97
9924,MYS,01/01/2016,31/12/2016,131,Malaysia,1800,"Vegetables&Melons, Total",5539,Producer Price Index (2014-2016 = 100),2016,2016,7021,Annual value,101
9925,MYS,01/01/2017,31/12/2017,131,Malaysia,1800,"Vegetables&Melons, Total",5539,Producer Price Index (2014-2016 = 100),2017,2017,7021,Annual value,105
9926,MYS,01/01/2018,31/12/2018,131,Malaysia,1800,"Vegetables&Melons, Total",5539,Producer Price Index (2014-2016 = 100),2018,2018,7021,Annual value,104
9927,MYS,01/01/2019,31/12/2019,131,Malaysia,1800,"Vegetables&Melons, Total",5539,Producer Price Index (2014-2016 = 100),2019,2019,7021,Annual value,102