## Initialization Phase + Data Info

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
pd.set_option('display.max_rows', 500)
sns.set_style('whitegrid')

In [3]:
df = pd.read_csv('malaysia_produce.csv')
df_LCU, df_SLC, df_USD, df_PPI = [df[df.Element == 'Producer Price (LCU/tonne)'], 
df[df.Element == 'Producer Price (SLC/tonne)'],
df[df.Element == 'Producer Price (USD/tonne)'], df[df.Element == 'Producer Price Index (2014-2016 = 100)']]

In [3]:
df_LCU.head()

,Iso3,StartDate,EndDate,Area,Item Code,Item,Element,Year,Months Code,Months,Value
29,MYS,01/01/2004,31/12/2004,Malaysia,367,Asparagus,Producer Price (LCU/tonne),2004,7021,Annual value,9130
30,MYS,01/01/2005,31/12/2005,Malaysia,367,Asparagus,Producer Price (LCU/tonne),2005,7021,Annual value,11080
31,MYS,01/01/2006,31/12/2006,Malaysia,367,Asparagus,Producer Price (LCU/tonne),2006,7021,Annual value,17780
32,MYS,01/01/2007,31/12/2007,Malaysia,367,Asparagus,Producer Price (LCU/tonne),2007,7021,Annual value,12600
33,MYS,01/01/2008,31/12/2008,Malaysia,367,Asparagus,Producer Price (LCU/tonne),2008,7021,Annual value,14650

In [4]:
# Initialize directory of Items with Appropriate date range
valid_year_dictionary = {}

def check_year_order(l):
    return all([l[i] + 1 == l[i + 1] for i in range(len(l) - 1)])

for each in df.Item.unique():
    valid_year_dictionary[each] = check_year_order(df[df.Item == each].Year.unique())
    #print (each, check_year_order(df_LCU[df_LCU.Item == each].Year.unique()))

In [4]:
# Initialize directory of Items with Appropriate date range
valid_year_dictionary = {}

def check_year_order(l):
    return all([l[i] + 1 == l[i + 1] for i in range(len(l) - 1)])

for each in df_LCU.Item.unique():
    valid_year_dictionary[each] = check_year_order(df_LCU[df_LCU.Item == each].Year.unique())
    #print (each, check_year_order(df_LCU[df_LCU.Item == each].Year.unique()))

In [5]:
# Check valid_year_directionary total count
count_true, count_false = 0, 0
valid_items = []
for key, values in valid_year_dictionary.items():
    if values: 
        count_true += 1
        valid_items.append(key)
    else: count_false += 1
        
print (count_true)
print (count_false)

30
58

### Filtered DF_LCU dataframe with accurate entries with ascending years

In [12]:
df = df[(df.Item.isin(valid_items))].reset_index()
df.to_csv('df_filtered.csv') #Save as csv

In [14]:
df.head(150)

,level_0,index,Iso3,StartDate,EndDate,Area,Item Code,Item,Element,Year,Months Code,Months,Value
0,0,0,MYS,01/01/1991,31/12/1991,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),1991,7021,Annual value,43
1,1,1,MYS,01/01/1992,31/12/1992,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),1992,7021,Annual value,43
2,2,2,MYS,01/01/1993,31/12/1993,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),1993,7021,Annual value,44
3,3,3,MYS,01/01/1994,31/12/1994,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),1994,7021,Annual value,45
4,4,4,MYS,01/01/1995,31/12/1995,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),1995,7021,Annual value,45
5,5,5,MYS,01/01/1996,31/12/1996,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),1996,7021,Annual value,46
6,6,6,MYS,01/01/1997,31/12/1997,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),1997,7021,Annual value,46
7,7,7,MYS,01/01/1998,31/12/1998,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),1998,7021,Annual value,47
8,8,8,MYS,01/01/1999,31/12/1999,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),1999,7021,Annual value,48
9,9,9,MYS,01/01/2000,31/12/2000,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2000,7021,Annual value,50
10,10,10,MYS,01/01/2001,31/12/2001,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2001,7021,Annual value,48
11,11,11,MYS,01/01/2002,31/12/2002,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2002,7021,Annual value,50
12,12,12,MYS,01/01/2003,31/12/2003,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2003,7021,Annual value,52
13,13,13,MYS,01/01/2004,31/12/2004,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2004,7021,Annual value,56
14,14,14,MYS,01/01/2005,31/12/2005,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2005,7021,Annual value,56
15,15,15,MYS,01/01/2006,31/12/2006,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2006,7021,Annual value,62
16,16,16,MYS,01/01/2007,31/12/2007,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2007,7021,Annual value,85
17,17,17,MYS,01/01/2008,31/12/2008,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2008,7021,Annual value,97
18,18,18,MYS,01/01/2009,31/12/2009,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2009,7021,Annual value,79
19,19,19,MYS,01/01/2010,31/12/2010,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2010,7021,Annual value,106
20,20,20,MYS,01/01/2011,31/12/2011,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2011,7021,Annual value,132
21,21,21,MYS,01/01/2012,31/12/2012,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2012,7021,Annual value,118
22,22,22,MYS,01/01/2013,31/12/2013,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2013,7021,Annual value,111
23,23,23,MYS,01/01/2014,31/12/2014,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2014,7021,Annual value,111
24,24,24,MYS,01/01/2015,31/12/2015,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2015,7021,Annual value,91
25,25,25,MYS,01/01/2016,31/12/2016,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2016,7021,Annual value,98
26,26,26,MYS,01/01/2017,31/12/2017,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2017,7021,Annual value,99
27,27,27,MYS,01/01/2018,31/12/2018,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2018,7021,Annual value,98
28,28,28,MYS,01/01/2019,31/12/2019,Malaysia,226,Areca nuts,Producer Price Index (2014-2016 = 100),2019,7021,Annual value,98
29,29,379,MYS,01/01/2012,31/12/2012,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2012,7021,Annual value,1550
30,30,380,MYS,01/01/2013,31/12/2013,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2013,7021,Annual value,1800
31,31,381,MYS,01/01/2014,31/12/2014,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2014,7021,Annual value,1700
32,32,382,MYS,01/01/2015,31/12/2015,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2015,7021,Annual value,1850
33,33,383,MYS,01/01/2016,31/12/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7021,Annual value,2250
34,34,384,MYS,01/01/2016,31/01/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7001,January,2100
35,35,385,MYS,01/02/2016,29/02/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7002,February,2150
36,36,386,MYS,01/03/2016,31/03/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7003,March,2150
37,37,387,MYS,01/04/2016,30/04/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7004,April,2250
38,38,388,MYS,01/05/2016,31/05/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7005,May,2300
39,39,389,MYS,01/06/2016,30/06/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7006,June,2250
40,40,390,MYS,01/07/2016,31/07/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7007,July,2300
41,41,391,MYS,01/08/2016,31/08/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7008,August,2300
42,42,392,MYS,01/09/2016,30/09/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7009,September,2300
43,43,393,MYS,01/10/2016,31/10/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7010,October,2300
44,44,394,MYS,01/11/2016,30/11/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7011,November,2250
45,45,395,MYS,01/12/2016,31/12/2016,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2016,7012,December,2200
46,46,396,MYS,01/01/2017,31/12/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7021,Annual value,2200
47,47,397,MYS,01/01/2017,31/01/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7001,January,2150
48,48,398,MYS,01/02/2017,28/02/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7002,February,2150
49,49,399,MYS,01/03/2017,31/03/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7003,March,2200
50,50,400,MYS,01/04/2017,30/04/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7004,April,2250
51,51,401,MYS,01/05/2017,31/05/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7005,May,2300
52,52,402,MYS,01/06/2017,30/06/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7006,June,2300
53,53,403,MYS,01/07/2017,31/07/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7007,July,2300
54,54,404,MYS,01/08/2017,31/08/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7008,August,2250
55,55,405,MYS,01/09/2017,30/09/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7009,September,2200
56,56,406,MYS,01/10/2017,31/10/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7010,October,2150
57,57,407,MYS,01/11/2017,30/11/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7011,November,2150
58,58,408,MYS,01/12/2017,31/12/2017,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2017,7012,December,2000
59,59,409,MYS,01/01/2018,31/12/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7021,Annual value,2550
60,60,410,MYS,01/01/2018,31/01/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7001,January,2500
61,61,411,MYS,01/02/2018,28/02/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7002,February,2550
62,62,412,MYS,01/03/2018,31/03/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7003,March,2650
63,63,413,MYS,01/04/2018,30/04/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7004,April,2450
64,64,414,MYS,01/05/2018,31/05/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7005,May,2350
65,65,415,MYS,01/06/2018,30/06/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7006,June,2600
66,66,416,MYS,01/07/2018,31/07/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7007,July,2450
67,67,417,MYS,01/08/2018,31/08/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7008,August,2550
68,68,418,MYS,01/09/2018,30/09/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7009,September,2550
69,69,419,MYS,01/10/2018,31/10/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7010,October,2550
70,70,420,MYS,01/11/2018,30/11/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7011,November,2650
71,71,421,MYS,01/12/2018,31/12/2018,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2018,7012,December,2550
72,72,422,MYS,01/01/2019,31/12/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7021,Annual value,2500
73,73,423,MYS,01/01/2019,31/01/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7001,January,2550
74,74,424,MYS,01/02/2019,28/02/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7002,February,2600
75,75,425,MYS,01/03/2019,31/03/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7003,March,2500
76,76,426,MYS,01/04/2019,30/04/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7004,April,2400
77,77,427,MYS,01/05/2019,31/05/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7005,May,2550
78,78,428,MYS,01/06/2019,30/06/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7006,June,2250
79,79,429,MYS,01/07/2019,31/07/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7007,July,2450
80,80,430,MYS,01/08/2019,31/08/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7008,August,2550
81,81,431,MYS,01/09/2019,30/09/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7009,September,2500
82,82,432,MYS,01/10/2019,31/10/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7010,October,2550
83,83,433,MYS,01/11/2019,30/11/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7011,November,2600
84,84,434,MYS,01/12/2019,31/12/2019,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2019,7012,December,2350
85,85,435,MYS,01/01/2020,31/01/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7001,January,2150
86,86,436,MYS,01/02/2020,29/02/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7002,February,2550
87,87,437,MYS,01/03/2020,31/03/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7003,March,2500
88,88,438,MYS,01/04/2020,30/04/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7004,April,2750
89,89,439,MYS,01/05/2020,31/05/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7005,May,2750
90,90,440,MYS,01/06/2020,30/06/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7006,June,2100
91,91,441,MYS,01/07/2020,31/07/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7007,July,2400
92,92,442,MYS,01/08/2020,31/08/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7008,August,2500
93,93,443,MYS,01/09/2020,30/09/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7009,September,2500
94,94,444,MYS,01/10/2020,31/10/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7010,October,2550
95,95,445,MYS,01/11/2020,30/11/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7011,November,2600
96,96,446,MYS,01/12/2020,31/12/2020,Malaysia,484,Bananas Cavendish,Producer Price (LCU/tonne),2020,7012,December,2650
97,97,447,MYS,01/01/2012,31/12/2012,Malaysia,484,Bananas Cavendish,Producer Price (SLC/tonne),2012,7021,Annual value,1550
98,98,448,MYS,01/01/2013,31/12/2013,Malaysia,484,Bananas Cavendish,Producer Price (SLC/tonne),2013,7021,Annual value,1800
99,99,449,MYS,01/01/2014,31/12/2014,Malaysia,484,Bananas Cavendish,Producer Price (SLC/tonne),2014,7021,Annual value,1700
100,100,450,MYS,01/01/2015,31/12/2015,Malaysia,484,Bananas Cavendish,Producer Price (SLC/tonne),2015,7021,Annual value,1850
101,101,451,MYS,01/01/2016,31/12/2016,Malaysia,484,Bananas Cavendish,Producer Price (SLC/tonne),2016,7021,Annual value,2250
102,102,452,MYS,01/01/2017,31/12/2017,Malaysia,484,Bananas Cavendish,Producer Price (SLC/tonne),2017,7021,Annual value,2200
103,103,453,MYS,01/01/2018,31/12/2018,Malaysia,484,Bananas Cavendish,Producer Price (SLC/tonne),2018,7021,Annual value,2550
104,104,454,MYS,01/01/2019,31/12/2019,Malaysia,484,Bananas Cavendish,Producer Price (SLC/tonne),2019,7021,Annual value,2500
105,105,455,MYS,01/01/2012,31/12/2012,Malaysia,484,Bananas Cavendish,Producer Price (USD/tonne),2012,7021,Annual value,502
106,106,456,MYS,01/01/2013,31/12/2013,Malaysia,484,Bananas Cavendish,Producer Price (USD/tonne),2013,7021,Annual value,571
107,107,457,MYS,01/01/2014,31/12/2014,Malaysia,484,Bananas Cavendish,Producer Price (USD/tonne),2014,7021,Annual value,519
108,108,458,MYS,01/01/2015,31/12/2015,Malaysia,484,Bananas Cavendish,Producer Price (USD/tonne),2015,7021,Annual value,474
109,109,459,MYS,01/01/2016,31/12/2016,Malaysia,484,Bananas Cavendish,Producer Price (USD/tonne),2016,7021,Annual value,542
110,110,460,MYS,01/01/2017,31/12/2017,Malaysia,484,Bananas Cavendish,Producer Price (USD/tonne),2017,7021,Annual value,512
111,111,461,MYS,01/01/2018,31/12/2018,Malaysia,484,Bananas Cavendish,Producer Price (USD/tonne),2018,7021,Annual value,632
112,112,462,MYS,01/01/2019,31/12/2019,Malaysia,484,Bananas Cavendish,Producer Price (USD/tonne),2019,7021,Annual value,604
113,113,463,MYS,01/01/2012,31/12/2012,Malaysia,484,Bananas Cavendish,Producer Price Index (2014-2016 = 100),2012,7021,Annual value,80
114,114,464,MYS,01/01/2013,31/12/2013,Malaysia,484,Bananas Cavendish,Producer Price Index (2014-2016 = 100),2013,7021,Annual value,93
115,115,465,MYS,01/01/2014,31/12/2014,Malaysia,484,Bananas Cavendish,Producer Price Index (2014-2016 = 100),2014,7021,Annual value,88
116,116,466,MYS,01/01/2015,31/12/2015,Malaysia,484,Bananas Cavendish,Producer Price Index (2014-2016 = 100),2015,7021,Annual value,96
117,117,467,MYS,01/01/2016,31/12/2016,Malaysia,484,Bananas Cavendish,Producer Price Index (2014-2016 = 100),2016,7021,Annual value,116
118,118,468,MYS,01/01/2017,31/12/2017,Malaysia,484,Bananas Cavendish,Producer Price Index (2014-2016 = 100),2017,7021,Annual value,114
119,119,469,MYS,01/01/2018,31/12/2018,Malaysia,484,Bananas Cavendish,Producer Price Index (2014-2016 = 100),2018,7021,Annual value,132
120,120,470,MYS,01/01/2019,31/12/2019,Malaysia,484,Bananas Cavendish,Producer Price Index (2014-2016 = 100),2019,7021,Annual value,129
121,121,471,MYS,01/01/2012,31/12/2012,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2012,7021,Annual value,1450
122,122,472,MYS,01/01/2013,31/12/2013,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2013,7021,Annual value,1550
123,123,473,MYS,01/01/2014,31/12/2014,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2014,7021,Annual value,1900
124,124,474,MYS,01/01/2015,31/12/2015,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2015,7021,Annual value,1950
125,125,475,MYS,01/01/2016,31/12/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7021,Annual value,2050
126,126,476,MYS,01/01/2016,31/01/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7001,January,2000
127,127,477,MYS,01/02/2016,29/02/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7002,February,2050
128,128,478,MYS,01/03/2016,31/03/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7003,March,2000
129,129,479,MYS,01/04/2016,30/04/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7004,April,2000
130,130,480,MYS,01/05/2016,31/05/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7005,May,2000
131,131,481,MYS,01/06/2016,30/06/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7006,June,2000
132,132,482,MYS,01/07/2016,31/07/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7007,July,2000
133,133,483,MYS,01/08/2016,31/08/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7008,August,2050
134,134,484,MYS,01/09/2016,30/09/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7009,September,2100
135,135,485,MYS,01/10/2016,31/10/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7010,October,2150
136,136,486,MYS,01/11/2016,30/11/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7011,November,2100
137,137,487,MYS,01/12/2016,31/12/2016,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2016,7012,December,2150
138,138,488,MYS,01/01/2017,31/12/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7021,Annual value,2190
139,139,489,MYS,01/01/2017,31/01/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7001,January,2150
140,140,490,MYS,01/02/2017,28/02/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7002,February,2150
141,141,491,MYS,01/03/2017,31/03/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7003,March,2200
142,142,492,MYS,01/04/2017,30/04/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7004,April,2150
143,143,493,MYS,01/05/2017,31/05/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7005,May,2200
144,144,494,MYS,01/06/2017,30/06/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7006,June,2150
145,145,495,MYS,01/07/2017,31/07/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7007,July,2200
146,146,496,MYS,01/08/2017,31/08/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7008,August,2200
147,147,497,MYS,01/09/2017,30/09/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7009,September,2200
148,148,498,MYS,01/10/2017,31/10/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7010,October,2250
149,149,499,MYS,01/11/2017,30/11/2017,Malaysia,485,Bananas non-Cavendish,Producer Price (LCU/tonne),2017,7011,November,2200